@{
  Layout = "_Layout";
}

@using DoctorsOffice.Models
@model DoctorsOffice.Models.Patient

<h2>Patient Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.PatientName): @Html.DisplayFor(model => model.PatientName)<h3>
<h3>@Html.DisplayNameFor(model => model.Doctors): @Html.DisplayFor(model => model.Doctors.DoctorName)<h3>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>